<main>
    <div class="full-width-container">
        <div class="my-contaniner">
            <div class="custom-card-container">
                <div class="main-card">
                    <div class="main-card-header ">
                        <h4 class="text-white">Change Password</h4>
                    </div>
                    <div class="main-card-body">
                        <div class="logo text-center">
                            <img src="../../assets/logo.PNG">
                        </div>
                        <div class="form">
                            <form (ngSubmit)="changepassword(alldata)" #alldata="ngForm">
                                <div class="main-form-continer text-center">
                                    
                                    <div class="text-box-container text-center">
                                        <input class="search-tb" type="password" placeholder="Password" required name="password"
                                            maxlength="16" #password="ngModel" ngModel>
                                        <div *ngIf="password.touched && !password.valid">
                                            <div *ngIf="password.errors.required">
                                                password should be required
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="text-box-container text-center">
                                      <input class="search-tb" type="password" placeholder="Password" required name="cpassword"
                                          maxlength="16" #cpassword="ngModel" ngModel>
                                      <div *ngIf="password.touched && !password.valid">
                                          <div *ngIf="password.errors.required">
                                              password should be required
                                          </div>
  
                                      </div>
                                  </div>
                                    <div class="text-box-container text-center">
                                        <button class="btn-rest" type="submit"> Change </button>
                                    </div>
                                    
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay">
  
        </div>
    </div>
  
  </main>